* {
    margin: 0;
    padding: 0;
}

/* width size */
.w100 {
    width: 100%;
}

/* heigth */
.h-auto {
    height: auto;
}

/* display */
.d-flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-justify{
    display: flex;
    justify-content: center;
}
.flex-justify-evenly{
    display: flex;
    justify-content: space-evenly;
}

/* containers */
.larg-container {
    width: 100%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 0 auto;
    overflow-x: auto;
}
.small-container {
    width: 70%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 100px auto 40px auto;
    overflow-x: auto;
}

/* align */
.align {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* border */
.border {
    border: 1px solid var(--border);
}
