:root {
  --main: #1d1e26;
  --similar-dark: #262932;
  --similar-light: #f2f2f2;
  --text: #bebebe;
  --bg: #6a5fe8;
  --hover: #5246dd;
  --border: #384759;
  --shadow: rgba(0, 0, 0, 0.54);
  --main-light: #bebebe;
}

body {
  direction: rtl;
  overflow-x: hidden;
  font-family: "shabnam";
  background: var(--main);
  color: var(--text);
  font-family: "vazir";
}

.dashboard {
  padding: 20px;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  box-shadow: 0px 0px 10px var(--shadow);
}

/* حالت تاریک */
body.dark-mode {
  --similar: var(--similar-dark);
  background-color: var(--similar-dark);
  color: var(--text);
}

/* حالت روشن */
body.light-mode {
  --similar: var(--similar-light);
  background-color: var(--similar-light);
  color: var(--main);
}