

/* display */
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.flex-justify-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center{
    align-items: center;
}
.d-none{
    display: none;
}
.justify-between{
    justify-content: space-between;
}


/* genrals */
.hr{
    border: 1px solid var(--border);
}
.text-underline{
    text-decoration: underline;
}
.text-size{
    font-size: 14px;
}
.input{
    background-color: var(--main);
    border: none;
    border-radius: 6px;
    color: var(--text);
    transition: 0.3s;
    width: 298px !important;
    padding: 8px !important;
}
.input:focus {
    outline: none !important;
    box-shadow: 0 0 8px var(--hover);
    transition: 0.5s;
  }
.border-radius{
    border-radius: 10px;
}
.center{
    text-align: center !important;
}

.content-container{
    width: 100%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 0 auto;
    overflow-x: auto;
}
.box-container{
    width: 70%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 20px auto 40px auto;
    overflow-x: auto;
}
.box-container::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}
.box-container::-webkit-scrollbar-thumb {
    background-color: var(--border) !important;
}
.content-container::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}
.content-container::-webkit-scrollbar-thumb {
    background-color: var(--border) !important;
}
.cursor-p{
    cursor: pointer;
}
.cursor-not{
    cursor: not-allowed;
}

/* colors */
.color{
    color: var(--text);
}
.text-white{
    color: white;
}
.color-red{
    color: red;
}
.color-green{
    color: rgb(3, 206, 3);
}
.color-blue{
    color: #239cff;
}
.color-yellow{
    color: yellow;
}
.color-orange{
    color: var(--orange);
}
.bg-main{
    background-color: var(--main);
}

/* fonts */
.fs15{
    font-size: 15px;
}
.fs14{
    font-size: 14px;
}
.fs11{
    font-size: 11px;
}
.fs12{
    font-size: 12px;
}
.fs18{
    font-size: 18px;
}




/* margin */
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.m20{
    margin: 20px;
}
.m10{
    margin: 10px;
}
.mt20{
    margin-top: 20px;
}
.mr5{
    margin-right: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.m-auto{
    margin: 0 auto;
}
.m0{
    margin: 0 !important;
}
.m-auto{
    margin: 0 auto;
}
.mb10{
    margin-bottom: 10px;
}
.mt15{
    margin-top: 15px;
}

/* widths */
.w100{
    width: 100%;
}
.w17{
    width: 17px;
}
.w14{
    width: 14px !important;
}
.w20{
    width: 20px !important;
}
.w50{
    width: 50px;
}
.h50{
    height: 50px;
}



/* padding */
.p20{
    padding: 20px;
}
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p6{
    padding: 6px;
}

/* imgages */
.br{
    border: 1px solid var(--bg);
    border-radius: 50%;
}

/* btns */
.btn{
    width: 88%;
    background-color: var(--bg) !important;
    cursor: pointer;
    color: var(--btn-text) !important;
    margin: 20px auto;
    transition: all .3s ease-in;
    border-radius: 3px !important;
    font-size: 13px;
    border: 1px solid var(--bg);
}
.btn:hover{
    background-color: var(--main) !important;  
    color: var(--text) !important;  
    border: 1px solid var(--orange);
}

.border-none{
    border: none;
    border: 1px solid var(--main);
}
.border-hover:hover{
    border: 1px solid var(--bg);
}
.btn-orange{
    margin: 0 auto !important;
    width: 88%;
    text-align: center;
    background-color: var(--orange);
    cursor: pointer;
    border: 1px solid var(--main);
    transition: 0.3s;
    border-radius: 3px !important;
    color: var(--color-fixed);
}
.btn-orange:hover{
    border: 1px solid var(--orange);
    background-color: var(--main);
    cursor: pointer;
    color: var(--text);
}

.bold{
    font-weight: bold;
}