

/* display */
.d-flex{
    display: flex;
}
.justify-center{
    justify-items: center;
}
.flex-justify-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center{
    align-items: center;
}
.d-none{
    display: none;
}
.justify-between{
    justify-content: space-between;
}


/* genrals */
.w17{
    width: 17px;
}
.w20{
    width: 20px;
}
.text-size{
    font-size: 14px;
}
.input{
    background-color: var(--main);
    border: none;
    border-radius: 6px;
    color: var(--text);
    transition: 0.3s;
    width: 298px !important;
    padding: 8px !important;
}
.input:focus {
    outline: none !important;
    box-shadow: 0 0 8px var(--hover);
    transition: 0.5s;
  }
.border{
    border-radius: 6px;
}
.center{
    text-align: center;
}
.content-container{
    width: 100%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 0 auto;
}
.cursor-p{
    cursor: pointer;
}

/* colors */
.text-color{
    color: white;
}
.text-white{
    color: white;
}

/* fonts */
.fs15{
    font-size: 15px;
}
.fs14{
    font-size: 14px;
}
.fs11{
    font-size: 11px;
}
.fs18{
    font-size: 18px;
}




/* margin */
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.m20{
    margin: 20px;
}
.m10{
    margin: 10px;
}
.mt20{
    margin-top: 20px;
}
.mr5{
    margin-right: 5px;
}

/* padding */
.p20{
    padding: 20px;
}
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}