@font-face {
    font-family: 'vazir';
    src: url('../font/Vazir.ttf');
}

:root{
    --main: #1D1E26;
    --simillar: #262932;
    --text: #bebebe;
    --main2: #16171d;
    --btn-text: #f7f7f7;
    
    --simillar-light: #ffffff;
    --text-light: #313131;
    --main-light: #f0f0f5;
    --main2-light: #dbdbdb;
    --color-fixed: #313131;

    --bg: #0292f1;
    --hover: #18a3ff;
    --orange: #fc7d14;.btn-orange{
    background-color: var(--orange);
    cursor: pointer;
}
    --border: #38475960;
    --shadow: rgba(0,0,0,0.54);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    direction: rtl;
    overflow-x: hidden;
    font-family: 'shabnam';
    background: var(--main);
    color: var(--text);
    font-family: "vazir";
}
body.light-mode {
    --main: var(--main-light);
    --simillar:  var(--simillar-light);
    --text: var(--text-light);
    --main2: var(--main2-light);
}
/* start sidebar */
#menu-toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow);
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 3;
}
.sidebar{
    width: 280px;
    height: auto;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    right: 8px;
    bottom: 0;
    transition: all 0.5s;
    transform: translateX(0);
    z-index: 3;
}
.sidebar.active{
    transform: translateX(100%);
    right: 0;
}
.sidebar-section{
    width: 100%;
    height: 100%;
    background-color: var(--simillar);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--border);
    overflow-y: auto;
}
.sidebar-section::-webkit-scrollbar {
    width: 3px;
}
.sidebar-section::-webkit-scrollbar-thumb {
    background-color: var(--border) !important;
}
.brand-name{
    color: var(--bg);
    margin: 10px;
    margin-bottom: 20px;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 8px;
}
.img-avatar img{
    width: 60px;
    border: 1px solid var(--bg);
    border-radius: 50%;
}
.sidebar-icon{
    font-size: 14px;
}
.info-avatar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-avatar{
    padding-left: 10px;
}
.sidebar-item{
    margin-top: 30px;
}
.sidebar-item li > a{
    border-radius: 10px;
    color: var(--text);
    padding: 12px 10px;
    transition: all .3s ease-in;
}
.sidebar-menu:hover{
    transition: 0.3s;
    background-color: #33425373;
}
.sidebar-item li.focused > a{
    border-radius: 10px;
    background-color: var(--hover);
    transition: 0.4s;
}
.sidebar-item li .sidebar-arrow{
    transition: 0.3s;
}
.sidebar-item li.focused .sidebar-arrow{
    transform: rotateZ(180deg);
}
.sidebar-dropdown-menu li {
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 15px;
    color: var(--text);
}
.sidebar-dropdown-menu li:hover{
    background-color: #334253;
}
/* end sidebar */

/* start content */
.content{
    margin-right: 285px;
    padding: 2rem 1.2rem 2rem 1rem;
    transition: all 0.5s;
    overflow: hidden !important;
}
.content.active{
    margin-right: 0;
}
.larg-container{
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0px 35px 50px var(--shadow);
    background-color: var(--simillar);
    border: 1px solid var(--border);
    padding: 30px 20px;
    border-radius: 5px;
    overflow-x: auto;
}
.small-container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 35px 50px var(--shadow);
    background-color: var(--simillar);
    border: 1px solid var(--border);
    padding: 30px 20px;
    border-radius: 5px;
    overflow-x: auto;
}

/* start appbar */
.appbar{
    margin-right: 285px;
    padding: 2rem 1.2rem 2rem 2rem;
    transition: all 0.5s;
    position: fixed;
    width: calc(100% - 285px);
    background-color: var(--main);
    z-index: 2;
}
.appbar.active{
    margin-right: 0;
    width: 100%;
}
.appbar-search{
    background-color: var(--main);
    border: 1px solid var(--border);
    position: relative;
    margin-right: 50px;
    width: 300px;
}
.search-icon{
    position: absolute;
    left: 0;
    top: 7px;
}
.appbar-item-l{
    margin-left: 0 !important;
}
.msg-events{
    background-color: red;
    padding: 5px;
    position: absolute;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    top: 26px;
    left: 154px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.events > span{
    font-size: 12px;
    font-weight: 500;
}
.show-msg-events{
    display: none;
    position: relative;
}
.show-msg-events.active{
    background-color: var(--main2);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 140px;
    top: 60px;
    display: block;
    overflow: hidden;
    overflow-y: auto;
}
.header-msg{
    background-color: var(--simillar);
    width: 194px;
    height: 35px;
    position: fixed;
}
.b-msg{
    background-color: var(--simillar);
    width: 194px;
    height: 35px;
    position: fixed;
    top: 325px;
}
.event-ul-item > a li{
    margin-top: 10px;
    padding: 8px;
    transition: 0.4s;
    cursor: pointer;
    color: var(--text);
}
.event-ul-item > a li:hover{
    background-color: var(--main);
}
.show-msg-events::-webkit-scrollbar {
    width: 6px;
}
.show-msg-events::-webkit-scrollbar-track {
    background: var(--simillar); 
}
.show-msg-events::-webkit-scrollbar-thumb {
    background: var(--text); 
    border-radius: 2px; 
}
.show-msg-events::-webkit-scrollbar-thumb:hover {
    background: #555; /* رنگ پس زمینه */
}










.notif-events{
    background-color: rgb(19, 113, 255);
    padding: 5px;
    position: absolute;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    top: 26px;
    left: 107px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notif-events > span{
    font-size: 12px;
    font-weight: 500;
}
.other-events{
    background-color: #2ab600;
    padding: 5px;
    position: absolute;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    top: 26px;
    left: 63px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.other-events > span{
    font-size: 12px;
    font-weight: 500;
}
/* setting start */
.setting{
    width: 250px;
    height: 100vh;
    background-color: var(--simillar);
    position: fixed;
    left: -260px;
    top: 0;
    transition: 0.4s;
    padding: 10px !important;
    z-index: 5;
}
.mode{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    cursor: pointer;
}
.setting.active-left-menu{
    transform: translateX(100%);
}
#left-menu-active{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow);
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
#left-menu-active.left-menu-active{
    opacity: 1;
    visibility: visible;
    position: fixed;
    z-index: 4;
}
.ml-50{
    margin-left: 50px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 19px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999999;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: var(--hover);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(15px);
  }
    .slider {
    transition: background-color 0.4s;
  }
  .slider:before {
    transition: transform 0.4s;
  }  
/* end appbar */

.report{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}
.report-item{
    width: calc(33% - 20px);
    padding: 30px;
    display: flex;
    background-color: var(--bg);
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    min-height: 3em;
    resize: both;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    height: 120px;
    border-width: 1px;
    border-style: solid;
    box-shadow: -1px 11px 28px -7px var(--shadow);
}
.report .report-item .report-icon{
    padding-left: 15px;
}
.report-item .report-icon svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--hover);
    color: var(--main);
    padding: 10px;
}
.report-text span{
    color: var(--text);
    font-size: 18px;
}


/* main content title evry pages */
.content-title{
    width: 100%;
    color: var(--text);
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}

/* input insert page */
.insert{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.insert > div{
    text-align: right;
    margin-right: 5.5%;
    margin-bottom: 4px;
}
.insert input{
    background-color: var(--main);
    border: none;
    width: 90%;
    height: 35px;
    padding: 8px;
    border-radius: 3px;
    color: var(--text);
    font-size: 16px;
    transition: 0.5s;
    outline: none;
    border: 1px solid var(--bg);
    margin-bottom: 25px;
}
.insert select{
    background-color: var(--main);
    border: none;
    width: 90%;
    height: 35px;
    padding: 8px;
    border-radius: 3px;
    color: var(--text);
    font-size: 16px;
    outline: none;
    border: 1px solid var(--bg);
}
.insert select option{
    font-size: 16px;
}
.insert input:focus {
    outline: none !important;
    border:1px solid var(--hover);
    box-shadow: 0 0 8px var(--hover);
    transition: 0.5s;
  }
  .inputs{
    width: 90%;
    margin: 20px auto !important;
    position: relative;
}
.one{
    width: 100% !important;
}
.one > input{
    width: 99%;
    margin-bottom: 0 !important;
}
.one > textarea{
    width: 99%;
    margin-bottom: 0 !important;
    background-color: var(--main);
    border: 1px solid var(--bg);
    height: 100px;
    color: var(--text);
    padding: 7px;
    font-size: 16px !important;
}
.max-width{
    max-width: 370px;
    min-width: 370px;
}
.one > select{
    width: 99%;
}
.label-form{
    text-align: right;
    margin-right: 10px;
}
.img{
    width: 120px !important;
}
/* table page */
.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: var(--simillar);
}
.fl-table th{
    color: var(--btn-text);
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    font-size: 14px;
}
.fl-table td svg{
    font-size: 20px;
    color: var(--text);
}
.fl-table thead th {
    background: var(--bg);
}
.fl-table tr:nth-child(even) {
    background-color: var(--main);
}
.fl-table tr:hover{
    background-color: rgba(106, 95, 232, 0.171);
}
.paginate-section{
    padding: 4px;
    position: relative;
}
.table-info{
    position: absolute;
    right: 10px;
}
/* paginations */
.demo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paginate-item{
    padding: 2px 7px;
    background-color: var(--main);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
    box-shadow: var(--shadow);
    transition: 0.4s;
}
.paginate-item:hover{
    background-color: var(--hover);
}

/* details */
.details{
    width: 90%;
    height: auto;
    border: 1px solid var(--border);
    margin: 0 auto;
}

/* accourdion */
.accordion-title{
    background: var(--main);
    font-size: 16px;
    padding: 5px;
    color: var(--text);
    border: 1px solid #303030;
    cursor: pointer;
    transition: 0.3s;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.accordion-title:hover{
    background: var(--hover);
}
.accordion-content{
    width: 90%;
    background: var(--main);
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}
.child-accordioin {
    width: 100%;
}




/* single btn */
.btns{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.single-btn{
    color: var(--text);
    background-color: var(--bg);
    border-radius: 5px;
    padding: 7px 11px;
    margin: 10px auto !important;
    border: 1px solid var(--bg);
    transition: 0.3s;
}
.single-btn:hover{
    background-color: var(--main);
    border: 1px solid var(--bg);
}

/* help */
.modal-content-help{
    background-color: var(--main);
    margin: 15% auto;
    padding: 6px 10px 10px 10px;
    border: 1px solid var(--border);
    width: 38%;
}





/* login & register */
.login {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    position: relative;
}
.avatar-login {
    margin-top: 50px;
}
.avatar-login img {
    width: 90px;
    border: 1px solid var(--border);
    border-radius: 50%;
}
.login-form {
    width: 350px;
    height: auto;
    background-color: var(--simillar);
    color: var(--text);
    position: relative;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding-bottom: 30px;
    border: 1px solid var(--hover);
    position: relative;
}
.login-form h3 {
    margin-top: 10px;
}
.login-form span {
    font-size: 12px;
    position: absolute;
    right: 36px;
}
.login-form input {
    padding: 5px;
    background-color: var(--main);
    border: 1px solid var(--hover);
    width: 280px;
    height: 35px;
    border-radius: 5px;
    color: var(--text);
    font-size: 14px;
    transition: 0.5s;
    outline: none;
}
.login-form input:focus {
    outline: none !important;
    border: 1px solid var(--hover);
    box-shadow: 0 0 8px var(--hover);
    transition: 0.5s;
}
.btn-custom {
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--bg) !important;
}
.btn-custom:hover {
    background-color: var(--main) !important;
}
.remember-checkbox{
    margin: 0 !important;
    width: 15px !important;
    height: 17px !important;
}
.check-title{
    margin-right: 6px;
}
.remember-login{
    display: flex;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 20px auto 15px auto;
    font-size: 13px;
}
.label-input{
    text-align: right;
    margin: 17px 35px 5px 0;
}
.other-auth{
    text-align: right;
    margin-right: 35px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}
.other-auth a{
    color: #e2ae02;
    text-decoration: underline;
    font-size: 13px;
}
.forget-pass{
    margin-bottom: 10px;
}
.input-error{
    color: red;
    margin-top: 38px;
    font-size: 10px !important;
}
.border-error{
    border: 1px solid red !important;
    box-shadow: 0 0 8px red !important;
}
/* end auth */

/* sweetAlert */
div:where(.swal2-container) div:where(.swal2-popup){
    background-color: var(--simillar) !important;
}
.swal2-title {
    color: #b6b6b6;
}
.swal2-html-container{
    color: #b6b6b6 !important;
}
/* my alert */
.alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* عرض مورد نظر */
    background-color: rgb(194, 39, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    transition: bottom 0.5s ease-in-out;
    border-radius: 7px;
}
.alert.success {
    background-color: green;
}
.time-title {
    margin-bottom: 14px;
    display: flex;
    color: var(--bg);
}

.time-change {
    font-size: 14px;
    margin-right: 20px;
}

.ral {
    position: relative !important;
    text-align: right !important;
}

.checkbox {
    position: absolute;
    bottom: -6px;
    width: 13px !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important
}
.checkbox:focus {
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
}
.checkbox-age {
    width: 13px !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important
}
.checkbox-age:focus {
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
}
.checkbox-permission{
    position: absolute;
    right: 5px;
    width: 24px !important;
    height: 24px !important;
}
.checkbox-permission:checked {
    background-color: #009688;
    color: rgb(245, 8, 8);
}
.custom-input[disabled] {
    color: #999;
}
.check-child{
    width: 80%;
    padding: 5px;
    margin-right: 20px;
    margin: 0 auto;
}
.grayed-out {
    opacity: 0.4;
}
.checkSelectErr{
    right: 5px;
    position: absolute;
    top: 64px;
}
/* start loading */
.loader {
    margin-top: 45px !important;
    margin-bottom: 25px !important;
    width: 30px;
    --b: 5px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,var(--bg)) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}
.a-spiner{
    margin: 20px auto 0 auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 7;
}
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); 
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* end loading */

/* modals */
.modalInfo {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modalClose:hover,
  .modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
  }
  .modal-content {
    background-color: var(--main);
    margin: 15% auto;
    padding: 6px 10px 10px 10px;
    border: 1px solid var(--border);
    width: 30%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
.content-area{
    background-color: var(--main);
    padding: 10px;
    width: 97%;
    max-width: 97%;
    height: 110px;
    color: var(--text);
    font-size: 14px;
}


/* pagination */
.page-item > a{
    color: var(--text);
    margin: 2px;
    padding: 2px 7px;
    background-color: var(--main);
    border-radius: 4px;
    font-size: 14px;
    transition: 0.3s;
}
.page-item > a:hover{
    color: var(--main);
    background-color: var(--orange);
}

/* detailes page */
.detailes-culomn{
    margin: 5px auto;
    width: 96%;
    height: auto;
    background-color: var(--simillar);
    justify-content: space-between;
    padding: 3px 10px;
    transition: 0.3s;
}
.detailes-culomn:hover{
    background-color: var(--border);
}
.label-term{
    text-align: center !important;
}
.radio-term{
    height: 20px !important;
}








@media screen and (max-width: 1200px) {
    .report .report-item{
        width: calc(50% - 20px);
        margin-top: 20px;
    }
}
@media  screen and (max-width : 992px) {
    .sidebar{
        transform: translateX(100%);
        right: 0;
}
.content{
    margin-right: 0;
}
.appbar{
    margin-right: 0;
    width: 100% ;
}
.sidebar.active{
    transform: translateX(0%);
}
#menu-toggle.active{
    opacity: 1;
    visibility: visible;
}
}
@media screen  and (max-width: 576px){
    .report .report-item{
        width: 100%;
    }
    .table-info{
        position: sticky !important;
        width: 100% !important;
        font-size: 12px !important;
    }
}

/* appbar */
@media screen and (max-width: 770px) {
    .appbar-search{
        display: none !important;
    }
    .content-container{
        width: 100% !important;
    }
    .box-container{
        width: 100% !important;
        padding: 20px !important;
    }
    .inputs{
        display: block !important;
    }
    .modal-content-help{
        width: 90%;
    }
    .modal-content{
        width: 90%;
    }
}


